# игнорируем каталог tmp
tmp/

# игнорируем файлы, заканчивающиеся суффиксами _old, _backup во всех каталогах репозитория
**/*_old
**/*_backup

# игнорируем файлы Thumbs.db и .DS_Store во всех каталогах
**/Thumbs.db
**/.DS_Store